<mat-card class="responsiveSize">
  <mat-card-title>
    <span *ngIf="!imageSrc">
      <label for="fileUpload">Upload flower photo</label>
      <input id="fileUpload" type="file" (change)="onChange($event)" class="hiddenInput" />
    </span>
    <span *ngIf="imageSrc">
      <img mat-card-image *ngIf="imageSrc" [src]="imageSrc" />
      <div class="checkboxField">
        <label><mat-checkbox [checked]="hasId" (change)="hasId = !hasId">Use given model</mat-checkbox></label>
      </div>
      <span *ngIf="hasId">
        <form>
          <mat-form-field>
            <input matInput placeholder="Model Id" name="modelid" [(ngModel)]="modelId">
          </mat-form-field>
        </form>
      </span>
      <div>
        <button mat-raised-button color="primary" (click)="predict(modelId)">Predict</button>
      </div>
      <div *ngIf="flowerName">
        Flower: {{flowerName}}
      </div>
    </span>
  </mat-card-title>
</mat-card>