<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="!(isHandset$ | async)">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">Model 1</a>
      <a mat-list-item href="#">Model 2</a>
      <a mat-list-item href="#">Model 3</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>angular-flower-classifier</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <div>Upload picture</div>
    <input type="file" (change)="onChange($event)"/>
    <img *ngIf="imageSrc" [src]="imageSrc" style="height: 224px; width: 224px"/>
    <button (click)="predict()">predict</button>
    <div *ngIf="flowerName">{{flowerName}}</div>

  </mat-sidenav-content>
</mat-sidenav-container>
