<mat-vertical-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Model architecture</ng-template>
      <h4>General description</h4>
      <div>
        <mat-form-field>
          <mat-select placeholder="Select" formControlName="featureExtractorCtrl" required>
            <mat-option value="Densenet121">Densenet121</mat-option>
            <mat-option value="densenet">Densenet</mat-option>
            <mat-option value="resnet18 ">Resnet18</mat-option>
            <mat-option value="alexnet">Alexnet</mat-option>
            <mat-option value="squeezenet">Squeezenet</mat-option>
            <mat-option value="vgg16">Vgg16</mat-option>
            <mat-option value="inception">Inception</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <mat-divider></mat-divider>
      <h4>Layers</h4>
      <div formArrayName="layersCtrl">
        <div *ngFor="let layercontrol of lCtrl.controls; let i = index; let last = last; let first = first"
          [formGroupName]="i">
          <div>
            <mat-form-field>
              <input matInput placeholder="layer name" formControlName="nameCtrl" required>
            </mat-form-field>
            <mat-form-field>
              <mat-select placeholder="Select" formControlName="operationCtrl" required>
                <mat-option value="linear">Linear</mat-option>
                <mat-option value="relu">ReLU</mat-option>
                <mat-option value="dropout">Dropout</mat-option>
                <mat-option value="logsoft">LogSoftmax</mat-option>
              </mat-select>
            </mat-form-field>
            <span *ngIf="layercontrol.value.operationCtrl === 'linear'">
              <mat-form-field>
                <input matInput type="number" placeholder="size input layer" formControlName="inputCtrl">
              </mat-form-field>
              <mat-form-field>
                <input matInput type="number" placeholder="size output layer" formControlName="outputCtrl">
              </mat-form-field>
            </span>
            <span *ngIf="layercontrol.value.operationCtrl === 'dropout'">
              <mat-form-field>
                <input matInput type="number" placeholder="probability" formControlName="dropoutCtrl">
              </mat-form-field>
            </span>
            <span *ngIf="layercontrol.value.operationCtrl === 'logsoft'">
              <mat-form-field>
                <input matInput type="number" placeholder="dimension" formControlName="dimCtrl">
              </mat-form-field>
            </span>
          </div>
          <button mat-stroked-button *ngIf="!first || first != last " (click)="removeLayer(i)">Remove layer</button>
          <button mat-stroked-button *ngIf="last" (click)="addLayer()">Add layer</button>
        </div>
      </div>
      <div class="navigButton">
        <button mat-mini-fab matStepperNext>>></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your email</ng-template>
      <mat-form-field>
        <input matInput type="email" placeholder="email" formControlName="emailCtrl">
      </mat-form-field>
      <div class="navigButton">
        <button mat-mini-fab color="primary" matStepperPrevious><<</button>
        <button mat-mini-fab matStepperNext>>></button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="thirdFormGroup">
    <form [formGroup]="thirdFormGroup">
      <ng-template matStepLabel>Upload model</ng-template>
      <button mat-stroked-button><label for="fileUpload">Upload model checkpoint</label></button>
      <input id="fileUpload" type="file" (change)="onChange($event)" class="hiddenInput" />
      <div *ngIf="file" class="navigButton">Uploaded: {{file.name}}</div>
      <div class="navigButton">
        <button mat-mini-fab color="primary" matStepperPrevious><<</button>
        <button mat-mini-fab matStepperNext>>></button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Recap</ng-template>
    Almost done.
    <div>
      <div>Email: {{secondFormGroup.controls.emailCtrl.value || 'no email provided'}}</div>

      <div>Feature extractor: {{firstFormGroup.controls.featureExtractorCtrl.value}}</div>
      <div *ngFor="let layercontrol of lCtrl.controls; let i = index; let first = first">
        <mat-divider *ngIf="!first"></mat-divider>
        <h4>Layer {{i}}</h4>
        <div>Name: {{layercontrol.value.nameCtrl}}</div>
        <div>Type: {{layercontrol.value.operationCtrl}}</div>

        <div *ngIf="layercontrol.value.operationCtrl === 'linear'">
          <div>In: {{layercontrol.value.inputCtrl}}</div>
          <div>Out: {{layercontrol.value.outputCtrl}}</div>
        </div>

        <div *ngIf="layercontrol.value.operationCtrl === 'dropout'">
          <div>Drop: {{layercontrol.value.dropoutCtrl}}</div>
        </div>

        <div *ngIf="layercontrol.value.operationCtrl === 'logsoft'">
          <div>Drop: {{layercontrol.value.dimCtrl}}</div>
        </div>
      </div>
    </div>
    <div class="navigButton">
      <button mat-stroked-button (click)="stepper.reset()">Reset</button> 
    </div>
    <div class="navigButton">
      <button mat-mini-fab color="primary" matStepperPrevious><<</button>
      <button mat-mini-fab (click)="uploadModel()">>></button>

    </div>
  </mat-step>
</mat-vertical-stepper>
